@import './../../common/styles/points';
@import './../../common/styles/templates';

.container {
  @extend %flex-center;

  color: red;
  font-size: 5rem;
  padding-top: 50px;

  h1 {
    text-transform: uppercase;
  }

  button {
    background-color: black;
    color: white;
  }

  @media screen and (min-width: $md) {
    background-color: dodgerblue;
  }
}
